
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "PingFang TC", "Heiti TC", 微軟正黑體, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
}


/* next 4 css till .split_bar is for resizing, resizing is lil buggy tho, when you change
    editor (eg. you go to css from html, resizing doesn't work anymore.
*/
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.split_left {
  width: 50vw;
  /* flex: 1; */
  /* background-color: $green; */
}

.split_right {
  flex: 1; 
  /* background-color: $gray; */
}

.split_bar {
  background-color: rgb(29, 29, 29);
  width: 1vw;
  height: 95vh;
  float: left;
  cursor: col-resize;
}


.fileexp{
    height: 5vh;
    margin-top:0;
    margin-bottom: 0;
    top:0;
    flex:1;
    padding-top: .5rem;
    padding-left: .5rem;
    padding-bottom: 0;
    background-color:#4a4a4a;
    color: white;
    display: flex;
    justify-content: auto;
    justify-items: auto;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    
}


.cust-btn{
    /* padding: .2rem; */
    background-color: grey;
    font-size: 1rem;
    /* border: .5px solid white; */
    border-radius: 50px;
}
a, a:link{
    text-decoration: none;
    color: white;
    position: relative;
    left: 5px;
}

a:hover{
    text-decoration: underline;
    font-weight: 300;
}
p{
    padding: 0;
    margin-top: 0;
}
h5{
    height: 1vh;
    padding: 0;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.editor{
    height: 90vh;
    /* width: 50%; */
    /* float: left; */
    /* background-color: black; */
    /* color: white; */
}
.editor-title{
    background-color: rgb(51, 51, 51);
    margin:0;
    color: white;
    /* border-top-right-radius: .5rem;
    border-top-left-radius: .5rem; */
    padding: .5rem;
}
.code-editor{
    height: 100%;
}
.CodeMirror{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    min-height: 100%;
}
.outputbox{
    height: 95vh;
    width: 49vw;
    /* float: right; */
    /* background-color: gray; */
}